@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato&display=swap');

.logo {
  font-family: 'Arvo', serif;
}

.home-cover {
  height: 100vh;
}

.hero-section {
  font-family: 'Arvo', serif;
  max-width: 65%;
}

.button-color {
  background-color: #AFC0BA;
}

.login-page {
  height: 100vh;
}

.login-header {
  font-size: 50px;
}

.login-background {
  background-color: #AFC0BA;
}

.registration-background {
  background-color: #AFC0BA;
  height: 100vh;
}

.job-board {
  height: 100vh;
  overflow-y: auto;
}

.filter-text {
  font-size: 18px;
  font-weight: 500;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);	
  bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modal-container {
  background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 560px;
  z-index: 1;
}