@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato&display=swap');
.logo {
  font-family: 'Arvo', serif;
}

.hero-section {
  font-family: 'Arvo', serif;
  max-width: 65%;
}

.button-color {
  background-color: #AFC0BA;
}

.login-page {
  height: 100vh;
}

.login-header {
  font-size: 50px;
}

.login-background {
  background-color: #AFC0BA;
}

.registration-background {
  background-color: #AFC0BA;
  height: 100vh;
}

.job-board {
  height: 100vh;
  overflow-y: auto;
}

.filter-text {
  font-size: 18px;
  font-weight: 500;
}